* {
    box-sizing: border-box;
  }

  h1, h2, h3, h4, p, ul, ol {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  ul, ol {
    padding-left: 0;
  }
  
  .list {
    list-style: none;
  }
  
  .link {
    text-decoration: none;
  }
  
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
    color: #212121;
    line-height: 1.5;
  }
  
  img {
    display: block;
    max-width: 100%;
  }

  .breed-select {
    display: none;
    max-width: 400px;
    margin: auto;
  }

  .cat-info {
    display: flex;
    column-gap: 50px;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #0d161b;
    /* margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    background-color: #e5f3f2;
    border: 1px solid #0d161b; */
}

.breed-name {
  font-size: 30px;
  margin-bottom: 15px;
}

.breed-descr {
  font-size: 16px;
  margin-bottom: 10px;
}

.is-hidden {
  appearance: none;
  visibility: hidden;
  opacity: 0;
}

.box-img {
  display: flex;
  align-items: center;
}

 .box-info {
  width: 400px;
}

.loader{
  display: block;
  position: relative;
  height: 12px;
  width: 80%;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
}
.loader::after {
  content: '';
  width: 40%;
  height: 100%;
  background: #FF3D00;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}

 